@using Despensa.BD.Datos.Entidades
@inject NavigationManager navigatioManager
@using Despensa.Client.Servicios

<EditForm Model="producto" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />
    <div class="txt1">
        <label>"Nombre del producto"</label>
        <div>
            <InputText class="form-control" @bind-Value="@producto.NombreProducto" />
            <ValidationMessage For="@(() => producto.NombreProducto)" />
        </div>

    </div>
    <div class="txt2">
        <label>"Descripcion del producto"</label>
        <div>
            <InputText class="form-control" @bind-Value="@producto.DescripcionProducto" />
            <ValidationMessage For="@(() => producto.DescripcionProducto)" />
        </div>
    </div>


    <div class="txt3">
        <label>"fecha de vencimiento del producto"</label>
        <div>
            <InputText class="form-control" @bind-Value="@producto.FechaVencimiento" />
            <ValidationMessage For="@(() => producto.FechaVencimiento)" />
        </div>
    </div>

    <div class="txt4">
        <label>"Precio del producto"</label>
        <div>
            <InputText class="form-control" @bind-Value="@producto.PrecioProducto" />
            <ValidationMessage For="@(() => producto.PrecioProducto)" />
        </div>

        <div class="txt5">
            <label>"Precio del producto"</label>
            <div>
                <InputNumber class="form-control" @bind-Value="@producto.CategoriaId" />
                <ValidationMessage For="@(() => producto.CategoriaId)" />
            </div>

        </div>
        </div>
    <br />
    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
</EditForm>

@code {
    [Parameter] public Producto producto { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}