@using Despensa.BD.Datos.Entidades
@using Despensa.Client.Servicios
@inject IHttpService http
@page "/Productos"


<h3>Lista Productos</h3>

    <br />
       <br />

        <a class="btn btn-primary" href="/Productos/Crear">Agregar nuevo producto</a>

         <br />
           <br />


<table>
    <tr>
        <th>Nombre</th>

        <th>Descripcion</th>

        <th>Caducidad</th>

        <th>Precio</th>

        <th>Proveedor</th>

        <th></th>

    </tr>
    @if (productos == null)
    {
        <tr>Cargando......</tr>
    }
    else if (productos.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {
        @foreach (var item in productos)
        {
            <tr>

                <td>@item.NombreProducto</td>

                <td>@item.DescripcionProducto</td>

                <td>@item.FechaVencimiento</td>

                <td>@item.PrecioProducto</td>

                <td>@item.Proveedor.Nombre</td>

                <td>
                    <a class="btn btn-primary"
               href="Editar/@item.Id">
                        Editar
                    </a>
                </td>

            </tr>
        }


    }
</table>

<br />
<br />


<h3>Lista pedidos Proveedores</h3>


          <br />
        <a class="btn btn-primary" href="/Proveedores/Crear">Alta nuevo pedido</a>
        <br />
          <br />

<table>
    <tr>
    
        <th>Proveedor</th>

        <th>Nombre</th>

        <th>Correo</th>

        <th>Telefono</th>

    </tr>



    @if (proveedores == null)
    {
        <tr>Cargando......</tr>
    }
    else if (proveedores.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {

        @foreach (var item in proveedores)
        {
            <tr>
                <td>@item.Nombre</td>

                <td>@item.CorreoElectronico</td>

                <td>@item.NumeroTelefono</td>

            </tr>
        }
    }

</table>



@code {

    List<Producto> productos;

    List<Proveedor> proveedores;

    List<Administrador> administradores;



    protected override async Task OnInitializedAsync()
    {

        await LeerProveedores();

        await LeerProductos();
    }

    private async Task LeerProductos()

    {

        var respuesta = await http.Get<List<Producto>>("api/Productos");

        if (!respuesta.Error)
        {
            productos = respuesta.Respuesta;
        }

    }

    private async Task LeerProveedores()
    {

        var respuesta = await http.Get<List<Proveedor>>("api/Proveedores");

        if (!respuesta.Error)
        {
            proveedores = respuesta.Respuesta;
        }

    }
}