@using Despensa.BD.Datos.Entidades
@using Despensa.Client.Servicios
@inject IHttpService http
@page "/Productos"


<h3>Lista Productos</h3>

    <br />
       <br />

        <a class="btn btn-primary" href="/Productos/Crear">Agregar nuevo producto</a>

         <br />
           <br />


<table>
    <tr>
        <th>Nombre</th>

        <th>Descripcion</th>

        <th>Caducidad</th>

        <th>Precio</th>

        <th>Categoria</th>

        <th></th>

    </tr>
    @if (productos == null)
    {
        <tr>Cargando......</tr>
    }
    else if (productos.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {
        @foreach (var item in productos)
        {
            <tr>

                <td>@item.NombreProducto</td>

                <td>@item.DescripcionProducto</td>

                <td>@item.FechaVencimiento</td>

                <td>@item.PrecioProducto</td>

                <td>@item.Categoria.TipoCategoria</td>

                <td>
                    <a class="btn btn-primary"
               href="Editar/@item.Id">
                        Editar
                    </a>
                </td>

            </tr>
        }


    }
</table>

<br />
<br />


<h3>Lista categorias de los productos</h3>


          <br />
               
          <a class="btn btn-primary" href="Categorias/Crear">Lista categorias</a>
        <br />
          <br />

<table>
    <tr>
    
        <th>Tipo</th>

        <th>Codigo</th>

    </tr>



    @if (categorias == null)
    {
        <tr>Cargando......</tr>
    }
    else if (categorias.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {

        @foreach (var item in categorias)
        {
            <tr>
                <td>@item.TipoCategoria</td>

                <td>@item.CodigoCategoria</td>

            </tr>
        }
    }

</table>



@code {

    List<Producto> productos;

    List<Categoria> categorias;

    protected override async Task OnInitializedAsync()
    {

        await LeerCategorias();

        await LeerProductos();
    }

    private async Task LeerProductos()

    {

        var respuesta = await http.Get<List<Producto>>("api/Productos");

        if (!respuesta.Error)
        {
            productos = respuesta.Respuesta;
        }

    }

    private async Task LeerCategorias()
    {

        var respuesta = await http.Get<List<Categoria>>("api/Categorias");

        if (!respuesta.Error)
        {
            categorias = respuesta.Respuesta;
        }

    }
}