@using Despensa.BD.Datos.Entidades;


<EditForm Model="empleados" OnValidSubmit="onvalidsubmit">
    <DataAnnotationsValidator/>
    <div class="txt1">
        <label>"Nombre empleado"</label>>
        <div>
            <InputText class="form-control" @bind-Value="@empleados.Nombre"/>
            <ValidationMessage For="@(()=>empleados.Nombre)"/>
        </div>      
    </div>
    <div class="txt2">
        <label>"Apellido empleado"</label>>
          <div>
            <InputText class="form-control" @bind-Value="@empleados.Apellido"/>
            <ValidationMessage For="@(()=>empleados.Apellido)" />
        </div>
    </div>
     <div class="txt3">
        <label>"Fecha nacimiento del empleado"</label>>
          <div>
            <InputText class="form-control" @bind-Value="@empleados.FechaNacimiento"/>
            <ValidationMessage For="@(()=>empleados.FechaNacimiento)" />
        </div>

        <div class="txt4">
            <label>"Numero telefono del empleado"</label>>
            <div>
                <InputText class="form-control" @bind-Value="@empleados.NumeroTelefono" />
                <ValidationMessage For="@(()=>empleados.NumeroTelefono)" />
            </div>

        </div>


             
        <div class="txt4">
            <label>"Numero telefono del empleado"</label>>
            <div>
                <InputNumber class="form-control" @bind-Value="@empleados.ProductoId" />
                <ValidationMessage For="@(()=>empleados.ProductoId)" />
            </div>

        </div>

    </div>
    <br />
     <button class="btn btn-primary" type="submit" >Aceptar</button>
     <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
</EditForm>>


@code 
{
    [Parameter] public Empleado empleados { get; set;}
    [Parameter] public EventCallback onvalidsubmit { get; set;}
    [Parameter] public EventCallback onCancel { get; set; }
}