<EditForm Model="empleado" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nombre</label>
        <div>
            <InputText class="form-control" @bind-Value="@empleado.Nombre" />
            <ValidationMessage For="@(() => empleado.Nombre)" />
        </div>

    </div>
    <div class="form-group">
        <label>Apellido</label>
        <div>
            <InputText class="form-control" @bind-Value="@empleado.Apellido" />
            <ValidationMessage For="@(() => empleado.Apellido)" />
        </div>
    </div>


    <div class="form-group">
        <label>Edad</label>
        <div>
            <InputText class="form-control" @bind-Value="@empleado.Edad" />
            <ValidationMessage For="@(() => empleado.Edad)" />
        </div>
    </div>

    <br />
    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
</EditForm>

@code {
    [Parameter] public Empleado empleado { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}