@using Despensa.BD.Datos.Entidades


<EditForm Model="proveedor" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />
    <div class="txt1">
        <label>"Nombre del proveedor"</label>
        <div>
            <InputText class="form-control" @bind-Value="@proveedor.Nombre" />
            <ValidationMessage For="@(() => proveedor.Nombre)" />
        </div>

    </div>
    <div class="txt2">
        <label>"Correo electronico del proveedor"</label>
        <div>
            <InputText class="form-control" @bind-Value="@proveedor.CorreoElectronico" />
            <ValidationMessage For="@(() => proveedor.CorreoElectronico)" />
        </div>
    </div>


    <div class="txt3">
        <label>"Numero de telefono del proveedor"</label>
        <div>
            <InputText class="form-control" @bind-Value="@proveedor.NumeroTelefono" />
            <ValidationMessage For="@(() => proveedor.NumeroTelefono)" />
        </div>     
    </div>




    <div class="txt3">
        <label>"Numero de telefono del proveedor"</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@proveedor.ProductoId" />
            <ValidationMessage For="@(() => proveedor.ProductoId)" />
        </div>
    </div>

    <br />
    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
</EditForm>

@code {
    [Parameter] public Proveedor proveedor { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}