@page "/Proveedores"
@inject IHttpService http

<h3>Lista de Proveedores</h3>

<a class="btn btn-primary" href="Proveedores/Crear">Nuevo proveedor</a>


<style>
    th, td {
        border: solid 1px red;
        padding: 30px;
    }

    thead {
        background-color: #545554;
        border-bottom: 4px solid yellow;
        color: darkgreen;
    }
</style>




<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>

    </tr>

    @if (proveedores == null)
    {
        <tr>Cargando.......</tr>
    }
    else if (proveedores.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {
        @foreach (var item in proveedores)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.CorreoElectronico</td>
                <td>@item.NumeroTelefono</td>


                <td>
                    <a class="btn btn-primary"
               href="Proveedores/Editar/@item.Id">
                        Editar
                    </a>
                </td>
                <td>
                    <button class="btn btn-warning"
                    @onclick="()=>Eliminar(item)">
                        Borrar
                    </button>
                </td>
            </tr>
        }
    }
</table>

<Confirmacion @ref="confirmacion"
              verCancelar="true"
              verOk="true"
              textOk="Ok"
              Titulo="Borrar proveedor"
              onCancel="Cancelar"
              onConfirm="Borrar">
    <div>
        Está por borrar el proveedor @ProveedorBorrar.Nombre @ProveedorBorrar.CorreoElectronico @ProveedorBorrar.NumeroTelefono
        <br />
        ¿Quiere continuar con la operación?
    </div>
</Confirmacion>


@code {
    List<Proveedor> proveedores;
    Confirmacion confirmacion;
    Proveedor ProveedorBorrar;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Proveedor>>("api/Proveedores");
        if (!respuesta.Error)
        {
            proveedores = respuesta.Respuesta;
        }
    }

    private void Eliminar(Proveedor proveedorBorrar)
    {
        ProveedorBorrar = proveedorBorrar;
        confirmacion.Ver();
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        ProveedorBorrar = null;
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/Proveedores/{ProveedorBorrar.Id}");
        if (respuesta.Error)
        {
            var body = "Error";
        }
        Cancelar();
        await Leer();
    }
}